p1,h1,h5,p5{
	background-color:rgba(44.60.40.30);
	text-align:center;
	font-size:30px;
	color:#fff;
}
body{
background-color:rgba(44.60.40.30);
}
header{
	float:center;
	font-size:40px;
	color:green;
}
.nav-area{
	float:left;
	margin:25px;
	font-size:30px;
	text-transform:uppercase;
background-color:#fff;
	
}
.nav-area a:hover{
	background:#fff;
	color:green;
}